<header>
  <h2>{{project.title}}</h2>
  <div class="addon">
    <a href="/app/projects/edit/{{activeProjectId}}" class="btn btn-edit">Editar projeto</a>
    <a href="/app/projects/destroy/{{activeProjectId}}" class="btn btn-danger">Excluir projeto</a>
  </div>
</header>
