<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>docfy - Icaro Monteiro</title>

  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/dracula.css">
  <link rel="shortcut icon" href="/favicon.png" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <script src="/main.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script>
  $(document).ready(function(){
    $('.mde').each(function () {
      var simplemde = new SimpleMDE({
        element: this,
        spellChecker: false,
        status: false,
      });
    });
  });
  </script>
</head>
<body>
<div class="wrapper">
{% include 'partials/head.njk' %}
{% include 'partials/flash.njk' %}
{% block body %}
{% endblock %}
</div>
</body>
</html>
