{% extends 'layouts/dashboard.njk' %}
{% block body %}
<section id="main">
      <div class="container">
        <header>
          <h2>{{project.title}}</h2>
          <div class="addon">
            <a href="/app/projects/destroy/{{projectId}}" class="btn btn-danger">Excluir projeto</a>
          </div>
        </header>

        <section id="content">
          <nav>
          <a href="/app/projects/{{projectId}}/sections/new" class="btn">Nova seção</a>
            <div class="sessions">
            {% for sec in sections %}
              <a href="/app/projects/{{projectId}}/sections/{{sec.id}}">{{sec.title}}</a>
              {% endfor %}
            </div>
          </nav>

          <article>
            <div class="project-header">
              <h1>{{section.title}}</h1>
            </div>
            {{ section.formatedContent | safe }}
          </article>
        </section>
      </div>
    </section>
{% endblock %}
